@font-face {
  font-family: 'DINPro-Medium';
  src: url('/fonts/DINPro-Medium.woff2') format('woff2'),
    url('/fonts/DINPro-Medium.woff') format('woff'),
    url('/fonts/DINPro-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'DINPro-Light';
  src: url('/fonts/DINPro-Light.woff2') format('woff2'),
    url('/fonts/DINPro-Light.woff') format('woff'),
    url('/fonts/DINPro-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'DINPro-Bold';
  src: url('/fonts/DINPro-Bold.woff2') format('woff2'),
    url('/fonts/DINPro-Bold.woff') format('woff'),
    url('/fonts/DINPro-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'DINPro-Regular';
  src: url('/fonts/DINPro.woff2') format('woff2'),
    url('/fonts/DINPro.woff') format('woff'),
    url('/fonts/DINPro.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

body {
  background-color: #f4efef
}

footer {
  padding: 8px;
  width: 100%;
  text-align: center;
}


a {
  font-family: 'DINPro-Medium';
}
@media screen and (min-width: 320px) {

  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner-bg {
    object-fit: cover;
    min-height: 200px;
    width: 100vw;
  }

  .banner-text {
    font-family: 'DINPro-Medium';
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transform: translate(0, -60%);
  }

  .banner-title {
    font-size: 32px;
    border-bottom: 1px solid red;
  }
  .banner-sub {
    font-size: 16px;
  }

  .va-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .va-bg {
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
  }

  .va-image {
    position: absolute;
    max-width: 80%;
  }
  
  .va-text {
    font-family: 'DINPro-Bold';
    position: absolute;
    top: 0;
    color: grey;
    font-size: 12px;
  }

  .mission-statement {
    font-family: 'DINPro-Regular';
    font-size: 16px;
    padding: 8px;
    background-color: white;
    margin: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .card-container {
    padding: 8px;
  }

  .card-text {
    font-family: 'DINPro-Regular';
    font-size: 16px;
  }

}
