@font-face {
  font-family: 'DINPro-Medium';
  src: url('/fonts/DINPro-Medium.woff2') format('woff2'),
    url('/fonts/DINPro-Medium.woff') format('woff'),
    url('/fonts/DINPro-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'DINPro-Light';
  src: url('/fonts/DINPro-Light.woff2') format('woff2'),
    url('/fonts/DINPro-Light.woff') format('woff'),
    url('/fonts/DINPro-Light.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'DINPro-Bold';
  src: url('/fonts/DINPro-Bold.woff2') format('woff2'),
    url('/fonts/DINPro-Bold.woff') format('woff'),
    url('/fonts/DINPro-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'DINPro-Regular';
  src: url('/fonts/DINPro.woff2') format('woff2'),
    url('/fonts/DINPro.woff') format('woff'),
    url('/fonts/DINPro.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

body {
  background-color: white !important;
  overflow-x: hidden;
}

footer {
  padding: 8px;
  width: 100%;
  text-align: center;
  font-family: 'DINPro-Bold';
  font-size: 22px;
}

a {
  font-family: 'DINPro-Medium';
}
@media screen and (min-width: 320px) {
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner-bg {
    object-fit: cover;
    min-height: 200px;
    width: 100vw;
  }

  .banner-text {
    font-family: 'DINPro-Medium';
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transform: translate(0, -60%);
  }

  .banner-title {
    font-size: 32px;
    border-bottom: 1px solid red;
  }
  .banner-sub {
    font-size: 16px;
  }

  .va-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .va-certified {
    font-family: 'DINPro-Bold';
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    background-color: transparent;
    background-color: #d21800;
    color: white;
    font-size: 12px;
  }

  .va-bg {
    max-height: 100px;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
  }

  .va-image {
    position: absolute;
    max-width: 80%;
  }

  .va-text {
    font-family: 'DINPro-Bold';
    position: absolute;
    top: 0;
    color: grey;
    font-size: 12px;
  }

  .mission-statement {
    font-family: 'DINPro-Bold';
    text-align: center;
    font-size: 18px;
    padding: 12px;
    background-color: white;
    margin: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .card-container {
    padding: 8px;
  }

  .card-text {
    font-family: 'DINPro-Regular';
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner-bg {
    object-fit: cover;
    max-height: 400px;
    width: 100vw;
  }

  .banner-text {
    font-family: 'DINPro-Medium';
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transform: translate(0, -80%);
  }

  .banner-title {
    font-size: 48px;
    border-bottom: 1px solid red;
  }
  .banner-sub {
    font-size: 24px;
  }

  .va-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .va-bg {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
  }

  .va-image {
    position: absolute;
    max-width: 80%;
  }

  .va-text {
    font-family: 'DINPro-Bold';
    position: absolute;
    top: 0;
    color: grey;
    font-size: 12px;
  }

  .mission-statement {
    font-family: 'DINPro-Bold';
    font-size: 28px;
    padding: 16px;
    background-color: white;
    margin: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .card-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .card-text {
    font-family: 'DINPro-Regular';
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner-bg {
    object-fit: cover;
    max-height: 550px;
    width: 100vw;
    object-position: 0% 55%;
  }

  .banner-text {
    font-family: 'DINPro-Medium';
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transform: translate(0, -80%);
  }

  .banner-title {
    font-size: 72px;
    border-bottom: 1px solid red;
  }
  .banner-sub {
    font-size: 36px;
  }

  .va-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .va-bg {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
  }

  .va-image {
    position: absolute;
    max-width: 80%;
  }

  .va-text {
    font-family: 'DINPro-Bold';
    position: absolute;
    top: 0;
    color: grey;
    font-size: 12px;
  }

  .va-certified {
    font-family: 'DINPro-Bold';
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    background-color: transparent;
    background-color: #d21800;
    color: white;
    font-size: 18px;
  }

  .mission-statement {
    font-family: 'DINPro-Bold';
    font-size: 36px;
    text-align: center;
    padding: 16px;
    background-color: white;
    margin: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .card-container {
    padding: 8px;
    display: flex;
    flex-direction: row;
  }

  .card {
    margin: 0 8px;
  }

  .card-title {
    font-family: 'DINPro-Bold';
    font-size: 28px;
  }

  .card-text {
    font-family: 'DINPro-Regular';
    font-size: 20px;
  }
}

@media screen and (min-width: 2560px) {
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .banner-bg {
    object-fit: cover;
    max-height: 768px;
    width: 100vw;
    object-position: 0% 65%;
  }

  .banner-text {
    font-family: 'DINPro-Medium';
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transform: translate(0, -110%);
  }

  .banner-title {
    font-size: 92px;
    border-bottom: 1px solid red;
  }
  .banner-sub {
    font-size: 48px;
  }

  .va-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .va-bg {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    transform: scaleX(-1);
  }

  .va-image {
    position: absolute;
    max-width: 80%;
  }

  .va-text {
    font-family: 'DINPro-Bold';
    position: absolute;
    top: 0;
    color: grey;
    font-size: 12px;
  }

  .va-certified {
    font-family: 'DINPro-Bold';
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px;
    background-color: transparent;
    background-color: #d21800;
    color: white;
    font-size: 18px;
  }

  .mission-statement {
    font-family: 'DINPro-Bold';
    font-size: 64px;
    text-align: center;
    padding: 16px;
    background-color: white;
    margin: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .card-container {
    padding: 8px;
    display: flex;
    flex-direction: row;
  }

  .card {
    margin: 0 8px;
  }

  .card-title {
    font-family: 'DINPro-Bold';
    font-size: 48px;
  }

  .card-text {
    font-family: 'DINPro-Regular';
    font-size: 36px;
  }
}
